@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html {
		scroll-behavior: smooth;
		font-family: var(--font-sans);
	}
}
